UseCircleService140917/Connected Services/CircleService/CircleService.svc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://webservicedemo.datamatiker-skolen.dk/CircleService.svc" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservicedemo.datamatiker-skolen.dk/CircleService.svc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://webservicedemo.datamatiker-skolen.dk/CircleService.svc/Imports">
      <xsd:import namespace="http://webservicedemo.datamatiker-skolen.dk/CircleService.svc" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICircleService_CalcDiameter_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcDiameter" />
  </wsdl:message>
  <wsdl:message name="ICircleService_CalcDiameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcDiameterResponse" />
  </wsdl:message>
  <wsdl:message name="ICircleService_CalcCircumference_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcCircumference" />
  </wsdl:message>
  <wsdl:message name="ICircleService_CalcCircumference_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcCircumferenceResponse" />
  </wsdl:message>
  <wsdl:portType name="ICircleService">
    <wsdl:operation name="CalcDiameter">
      <wsdl:input wsaw:Action="http://webservicedemo.datamatiker-skolen.dk/CircleService.svc/ICircleService/CalcDiameter" message="tns:ICircleService_CalcDiameter_InputMessage" />
      <wsdl:output wsaw:Action="http://webservicedemo.datamatiker-skolen.dk/CircleService.svc/ICircleService/CalcDiameterResponse" message="tns:ICircleService_CalcDiameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcCircumference">
      <wsdl:input wsaw:Action="http://webservicedemo.datamatiker-skolen.dk/CircleService.svc/ICircleService/CalcCircumference" message="tns:ICircleService_CalcCircumference_InputMessage" />
      <wsdl:output wsaw:Action="http://webservicedemo.datamatiker-skolen.dk/CircleService.svc/ICircleService/CalcCircumferenceResponse" message="tns:ICircleService_CalcCircumference_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>